<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.prova_sicredi_api.test.Main</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verificadaCepInvalido</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DesafioExtra</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verificaCepValido</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verificadaCepInexistente</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
