<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>regressionn</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd949d">  <td>20/06/25 20:15:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main.DesafioExtra()[pri:0, instance:com.prova_sicredi_api.test.Main@247bddad]">DesafioExtra</td> 
  <td>main@1312381159</td>   <td></td> </tr>
<tr bgcolor="bd949d">  <td>20/06/25 20:15:40</td>   <td>2367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main.verificaCepValido()[pri:0, instance:com.prova_sicredi_api.test.Main@247bddad]">verificaCepValido</td> 
  <td>main@1312381159</td>   <td></td> </tr>
<tr bgcolor="bd949d">  <td>20/06/25 20:15:41</td>   <td>3312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main.verificadaCepInexistente()[pri:0, instance:com.prova_sicredi_api.test.Main@247bddad]">verificadaCepInexistente</td> 
  <td>main@1312381159</td>   <td></td> </tr>
<tr bgcolor="bd949d">  <td>20/06/25 20:15:42</td>   <td>3836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main.verificadaCepInvalido()[pri:0, instance:com.prova_sicredi_api.test.Main@247bddad]">verificadaCepInvalido</td> 
  <td>main@1312381159</td>   <td></td> </tr>
</table>
